body {
  font-family: "Zilla Slab", serif;
}

h1, h2, h3, .heading-text {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  background-color: #f8f8f8;
}

.nav-tabs li {
  background-image: linear-gradient(to bottom, #b6e69e, #fff, #fff, #fff);
}

.header-bg {
  margin: 0;
  padding: 10px;
  /* background-image: linear-gradient(to bottom, #3c908e, #12664F); */
  background-color: #f8f8f8;
}

.brand-title {
  color: #3c908e;
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
}

.carousel-caption {
  background-color: rgba(0,0, 0, 0.5);
}

.center-icon {
  margin: 10px 50px 10px 0px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 75px;
}

.header-subtitle {
  font-size: 100%;
}

.right {
  float: right;
}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}

.text-center{
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.tint-layer {
  background-color: rgba(60, 144, 142, 0.5);
  width: fit-content;
}

.row-content {
  padding: 15px;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-center img {
  margin: 0;
}

.light-textbg {
  background-color:rgba(255,255, 255, 0.90);
  height: 100%;
}

.light-textbg h2, p {
  margin: 0;
  padding: 10px;
}

.footer-bg {
  margin: 0;
  padding: 10px;
  /* background-image: linear-gradient(to top, #3c908e, #12664F); */
  background-color: #f8f8f8;
}

.footer-finePrint{
  font-size: 8px;
}

.btn-light {
  background-color: #b6e69e;
  border: 1px solid #3c908e;
}