body {
  font-family: "Zilla Slab", serif;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
}

.site-footer {
  background-image: linear-gradient(#f5f5f5, white);
  padding: 20px 0;
}

.header-bg {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to right, #b6e69e,
   #3c908e, #12664f);
  color: white;
}

.navbar {
  background-color: #12664f;
}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}

.carousel-caption {
  background-color: rgba(0,0, 0, 0.5);
}

.header-logo {
  height: 75px;
}

.footer-finePrint{
  font-size: 8px;
}

.header-subtitle {
  font-size: 100%;
}

.text-center{
  text-align: center;
}
.right {
  float: right;
}

.btn-light {
  background-color: #b6e69e;
  border: 1px solid #3c908e;
}

.content-img {
  max-width: 75%;
  height: auto;
}

.content- {
  background-image: linear-gradient(to right, grey, #f5f5f5, white);
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-center img {
  margin: 0;
}

.tint-layer {
  background-color: rgba(60, 144, 142, 0.5);
}

.row-content {
  padding: 15px;
}

.light-textbg {
  background-color:rgba(255,255, 255, 0.90);
  height: 100%;
}

.light-textbg h2, p {
  margin: 0;
  padding: 10px;
}